.rightbar {
  flex: 3.5;
  margin-left: 20px;
}
.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayImg {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}
.birthdayContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.birthdayText {
  font-weight: 300;
  font-size: 15px;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 60px;
  height: 300px;
  width: 300px;
}
.rightbarTitle {
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 30px;
}
.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rightInfo {
  margin-bottom: 10px;
}
.rightbarInfoItem {
  margin-bottom: 10px;
}
.rightbarTitle {
  font-size: 18;
  font-weight: 500;
  margin-bottom: 15px;
}
.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.rightbarFollowing {
  width: 120px;
  height: 120px;
  padding: 5px;
}
.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}
.rightbarInfoKey {
  font-weight: 300;
}
.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.rightbarFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #545c91;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:focus {
  outline: none;
}
.updateDetailsBtn {
  padding: 5px;
  margin-top: 20px;
  background-color: #545c91;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
